@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap');
@import "tailwindcss";

@theme {
  --font-exo: "Exo", cursive;
  --font-righteous: "Righteous", sans-serif;
}
